<div class="vh-100 containter mx-auto gradient-bg-1 d-flex justify-content-center flex-column">
    <div class="position-absolute" style="top: 80px; left: 60px;">
        <button 
            class="button px-3 py-2 rounded d-flex align-items-center gap-2 text-white" 
            style="background-color: transparent; cursor: pointer;"
            routerLink="/home"
        >
            <i class="pi pi-arrow-left text-white" style="font-size: 1rem;"></i>
            Back
        </button>
    </div>

    <form 
        class="p-5 align-self-center rounded shadow d-flex flex-column gap-3"
        style="width: 30rem; background-color: #fff; border-radius: 20px;"
        [formGroup]="signupForm"
        (ngSubmit)="onSignup()"
    >
        <h3 class="" style="font-weight: 300;">Signup</h3>

        <input
            class="form-control rounded-pill"
            type="text"
            formControlName="firstname"
            placeholder="firstname"
        />
        <input
            class="form-control rounded-pill"
            type="text"
            formControlName="lastname"
            placeholder="lastname"
        />
        <input
            class="form-control rounded-pill"
            type="text"
            formControlName="phone"
            placeholder="phone"
        />
        <input
            class="form-control mb-4 rounded-pill"
            type="password"
            formControlName="password"
            placeholder="Password"
        />

        <button class="button bg-pink-1 px-3 py-2 text-white rounded" style="border-radius: 20px;">signup</button>

        <p 
            class="m-0 text-end mt-2" style="text-decoration: underline; cursor: pointer;"
            routerLink="/login"
        >
            <i class="pi pi-angle-right" style="font-size: 1rem;"></i>
            Login
        </p>
    
    </form>
</div>
