<div class="container mx-auto mt-5 mb-5">
    <h1 class="mb-5 slide-bottom" style="font-weight: 500; font-size: 4rem;">Charming shop</h1>

    <div class="p-2 slide-bottom"></div>

    <h2 class="mb-2 mt-5 slide-bottom" style="font-weight: 400;">แบรนยอดนิยม</h2>
    <div class="d-flex justify-content-between mt-3 mb-5 slide-bottom">
        <img 
            src="../../../assets/ysl-logo.png" 
            style="object-fit: contain;" 
            height="75" 
            width="75" alt="ysl" 
        />

        <img 
            src="../../../assets/dior-logo.webp" 
            style="object-fit: contain;" 
            height="75" 
            width="75" 
            alt="dior" 
        />

        <img 
            src="../../../assets/channel-logo.png" 
            style="object-fit: contain;" 
            height="75" 
            width="75" 
            alt="channel" 
        />

        <img 
            src="../../../assets/bbr-logo.png" 
            style="object-fit: contain;" 
            height="75" 
            width="75" 
            alt="channel" 
        />

        <img 
            src="../../../assets/lancome-logo.png" 
            style="object-fit: contain;" 
            height="75" 
            width="75" 
            alt="channel" 
        />
    </div>

    <div class="d-flex justify-content-between gap-0 mt-5 slide-bottom">
        <img 
            class="w-100 sqs-block-image "
            src="https://images.unsplash.com/photo-1512496015851-a90fb38ba796?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y29zbWV0aWNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" 
            style="object-fit: contain;" 
            height="300" 
            alt="channel" 
         />

        <img 
            class="w-100 sqs-block-image"
            src="https://images.unsplash.com/photo-1617897903246-719242758050?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Y29zbWV0aWNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" 
            style="object-fit: contain;" 
            height="300" 
            alt="channel" 
         />

        <img 
            class="w-100 sqs-block-image"
            src="https://images.unsplash.com/photo-1598440947619-2c35fc9aa908?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGNvc21ldGljc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" 
            style="object-fit: contain;" 
            height="300" 
            alt="channel" 
         />

        <img 
            class="w-100 sqs-block-image"
            src="https://images.unsplash.com/photo-1571256750339-12bbebc768f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGNvc21ldGljc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" 
            style="object-fit: contain;" 
            height="300" 
            alt="channel" 
         />
         
        <img 
            class="w-100 sqs-block-image"
            src="https://images.unsplash.com/photo-1583784561105-a674080f391e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fGNvc21ldGljc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" 
            style="object-fit: contain;" 
            height="300" 
            alt="channel" 
         />

        <img 
            class="w-100 sqs-block-image"
            src="https://images.unsplash.com/photo-1552046122-03184de85e08?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDd8fGNvc21ldGljc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" 
            style="object-fit: contain;" 
            height="300" 
            alt="channel" 
         />
    </div>

    <div class="d-flex justify-content-center slide-bottom">
        <button
            class="button px-5 py-2 mt-5 text-center" 
            style="font-weight: 500; font-size: 1.5rem; cursor: pointer; border: 2px solid #000; background-color: #fff;"
            routerLink="/login"
        >
            Check out
        </button>

    </div>

</div>